<!DOCTYPE HTML> 

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print">
  </head>
  <body>
      
      <header>
        <div class="container">
          <h1><a href="/">Yvan Yang's blog</a></h1>
          <h2></h2>
        </div>
      </header>

    
      <div class="container">
        <section id="main_content">
        {{ content }}
        </section>
      </div>


  </body>
</html>
